<mat-tab-group mat-align-tabs="end" animationDuration="900ms" backgroundColor="primary" >
    <mat-tab label="MY Orders" >
         
        <app-footer></app-footer>
    </mat-tab>
    
    
    <mat-tab label="PROFILE" >
      
        <app-footer></app-footer>
    </mat-tab>
    
    <mat-tab label="LOGOUT" >
        <br>
        <div class="logout">
        <br>
        <h3>It was good seeing you,Washer</h3>
        <strong><h3>Do yo want to LOGOUT?</h3></strong>
        <button mat-raised-button color="warn" (click)="gotohome('')">LOGOUT</button><br><br>
        <h2>You have successfully logged out!!</h2><br>
        <h2>THANK YOU!</h2>
    </div>
    </mat-tab>
    
    </mat-tab-group>
