<body>
<div class="s1">
Tell us your car loaction and we will come to you.With Green wash you can get your car washed wherever you are at your convenience.
</div>
<hr />
<div class="s2">
    <h3>WHO ARE WE?</h3>
Welcome to Carpe Diem Car Wash a concept developed by LIV INDIA to organize the Car Cleaning segment to give the community a new definition of car care and detailing services which are not professionally followed in India. Based at Bangalore our endeavour is to spread the awareness amongst car users about the Clean Car Culture & Car Hygiene.
Carpe Diem Car Wash is a brand which is literally going to change the way people think about car cleaning. It is a unique mechanized car cleaning concept where cars are getting pampered by the latest equipments including high pressure cleaning machines, spray injection and extraction machines, high powered vacuum cleaners, steam cleaners and so on.
In this fast moving life today we tend to spend more time in travelling as a result spend hours in the car, navigating the traffic jams. Air Pollution, Dust, Rain, Sunlight and Adverse road conditions all keeps adding on woos of common car users. And as a result, there is a severe need of Professional Car Cleaning Organization to take care of all Car Cleaning jobs and give us the finest and ultimate car cleaning experience and satisfaction.
Carpe Diem Car Wash is here to stay and work dedicatedly towards spreading the awareness among car users about their car hygiene habits, cleanliness, durability of exterior look and other common cleaning tips.
At Carpe Diem Car Wash we do a plethora of research on the car care and maintenance, the aim is to deliver best of service and bring in new concept to the car market. In the beginning we are focusing on educating our customers about the whole concept of Clean Car Culture, we have strong belief that our efforts will not only please you but definitely surprise you.
</div>
</body>
