<br>
<br>
<h1 align="center">Cars Avaliable</h1>
<div class="container">
    <div class="border">
        <button class="btn btn-md btn-outline-primary" >
          <i id="myicon" class="fa fa-user"></i>New Car</button>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>List Of Cars</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars; let i=index">
                <td><span>{{i+1}}</span></td>
                <td><span>{{car}}</span></td>
                <td>
                    <button class="btn btn-sm btn-warning">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-remove"></i>Delete</button>
                  </td>
            </tr>
        </tbody>
    </table>
</div>
