<div class="container">
    <img src="assets/images/carmodel.jpg" class="container_img">
</div>

<div class="text">
<h1>AVAILABLE CARS</h1>

<!--<div  class="container">
<table>
<tbody>
<td *ngFor='let car of Cars'>
<tr>
  <button type="submit" (click)="getval($event)" mat-raised-button color="primary">{{car}}</button></tr>
</td>
</tbody>
</table>
</div>-->

<div *ngFor="let car of Cars">
  <input type="radio" value="{{car}}" (change)="radioChangeHandler($event)">
  <i>{{car}}</i>

</div>

<p><span>you selected</span><b>{{selectedcar}}</b></p>
