.container {
    height:70%;
    width: 100%;
    text-align: center;
} 

.text{
    color:white;
    text-align: center;
    font-size: 106px;
    display:block;
    font-weight: 900;
    background-color:black;
}

