<div class="summary">
    <h1>ORDER SUMMARY</h1>
      {{pays.name}}
      <br>
      {{pays.email}}
      <br>
      {{pays.cartype}}
      <br>
      {{pays.serviceplan}}
      <br>
      {{pays.vehiclenumber}}
      <br>
      {{pays.address}}
      <br>
</div>
<div class="container mt-5">
  <h2> Checkout</h2>
  <div class="row mt-5">
    <div class="col-md-4">
      <button (click)="pay(5000)" class="btn btn-primary btn-block">Pay </button>
    </div>
  </div>



<!---
<div class="container">
  <h1>Card Information</h1>
<form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
  <div class="col-lg-6">
  <input class="form-control" type="text" formControlName="name" placeholder="Account Holder Name"><br>
</div>
<div class="col-lg-6">
  <div id="card-element" class="field"></div>
</div>
<div class="col-lg-12">
  <button class="btn btn-success" type="submit">
    BUY
  </button>
</div>
</form>
</div>-->

<br>
<app-footer></app-footer>
