<div class="summary">
    <h1>ORDER SUMMARY</h1>
      {{pays.name}}
      <br>
      {{pays.email}}
      <br>
      {{pays.cartype}}
      <br>
      {{pays.serviceplan}}
      <br>
      {{pays.vehiclenumber}}
      <br>
      {{pays.address}}
      <br>
</div>

<div>
  <h2>YOUR STATUS:</h2>
 {{washaction}}
</div>

<div class="container mt-5">
  <h2> Checkout</h2>
  <div class="row mt-5">
    <div class="col-md-4">
      <button (click)="pay(5000)" class="btn btn-primary btn-block">Pay </button>
    </div>
  </div>





<br>
<app-footer></app-footer>
