<!---
<h3 class="pb-5">PLEASE DO THE PAYMENT!!</h3>
<form class="mb-5" novalidate (ngSubmit)="buy()" [formGroup]="stripeForm">
    <div class="form-Group">
        <input type="text" class="form-control" formControlName="name" placeholder="Full Name" required>
        <span class="text-danger" *ngIf="stripeForm.get('name').hasError('required') && submitted">
            Full Name is required
        </span>
    </div>
    <div class="form-group">
        <input type="number" class="form-control" formControlName="amount" placeholder="Amount*" required>
        <span class="text-danger" *ngIf="stripeForm.get('amount').hasError('required') && submitted">
            Amount is required
        </span>
    </div>
    <div class="form-group">
        <div id="card-element" class="field"></div>
    </div>
    <button class="btn btn-warning w-25 border shadow" type="submit" data-toggle="modal" data-target="#exampleModalCenter">
    BUY
    </button>

</form>-->

<!---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Accept a card payment</title>
    <meta name="description" content="A demo of a card payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="global.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="/client.js" defer></script>
  </head>

  <body>
   
    <form id="payment-form">
      <div id="card-element"></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <p id="card-error" role="alert"></p>
      <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
      </p>
    </form>
  </body>
</html>
-->
