<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>CarType</th>
                <th>Serviceplan</th>
                <th>Address</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bookings of bookings; let i=index">
                <td><span>{{i+1}}</span></td>
                <td><span>{{bookings.name}}</span></td>
                <td><span>{{bookings.email}}</span></td>
                <td><span>{{bookings.carType}}</span></td>
                <td><span>{{bookings.serviceplan}}</span></td>
                <td><span>{{bookings.address}}</span></td>
                
            </tr>
        </tbody>
    </table>
</div>
