<div class="container">
    <img src="assets/images/carmodel.jpg" class="container_img">
</div>
<br>
<br>
<br>
<div class="text">
    <h1>AVAILABLE BRANDS</h1>
</div>
<br>
<br>
<br>
<div class="example-button-row">
    <button mat-raised-button color="accent" (click)="name('series')">AUDI</button>
    <button mat-raised-button color="accent"(click)="name('series')">BMW</button>
    <button mat-raised-button color="accent" (click)="name('series')">BENTLEY</button>
    <button mat-raised-button color="accent" (click)="name('series')">BUGGATI</button>
    <button mat-raised-button color="accent" (click)="name('series')">DATSUN</button>
    <button mat-raised-button color="accent" (click)="name('series')">FORD</button>
    <button mat-raised-button color="accent" (click)="name('series')">HONDA</button>
    <button mat-raised-button color="accent" (click)="name('series')">HYUNDAI</button>
    <button mat-raised-button color="accent" (click)="name('series')">JAGUAR</button>
    <button mat-raised-button color="accent"(click)="name('series')">LAMBORGINI</button>
    <button mat-raised-button color="accent"(click)="name('series')">LAND ROVER</button>
    <button mat-raised-button color="accent"(click)="name('series')">MARUTI SUZUKI</button>
    <button mat-raised-button color="accent"(click)="name('series')">MASERATI</button>
    <button mat-raised-button color="accent"(click)="name('series')">MERCEDES BENZ</button>
    <button mat-raised-button color="accent"(click)="name('series')">MITSUBISHI</button>
    <button mat-raised-button color="accent"(click)="name('series')">PORSCHE</button>
    <button mat-raised-button color="accent"(click)="name('series')">RENAULT</button>
    <button mat-raised-button color="accent"(click)="name('series')">TOYOTA</button>
</div>
