/*.container {
    height: 100%;
    width: 100%;
}*/

.container_img {
    min-height: 100vh;
    background-size: cover;
    width: 100%;
    text-align: center
} 

.text{
    font-size: 300px;
    text-align: center;
    color: black;
    padding: auto;
}

.example-button-row{
    display: table-cell;
    width: 100%;
}

  
.example-button-row .mat-button-base {
    margin: 20px 100px 20px 50px;
    padding-left: 18px;
    padding-right: 18px;

  }