<mat-tab-group mat-align-tabs="end">
    <mat-tab label="HOME">
        <app-carbrand></app-carbrand>
    </mat-tab>
    <mat-tab label="BOOKINGS">
        <app-bookings></app-bookings>
    </mat-tab>
    <mat-tab label="LOGOUT">
        <div class="logout">
            <br>
            <strong><h3>Do yo want to LOGOUT?</h3></strong>
            <button mat-raised-button color="accent" (click)="gotohome('')">LOGOUT</button><br><br>
            <h2>GET YOUR CAR WASHED IN FEW TAPS</h2><br>
            <h2>THANK YOU...VISIT AGAIN</h2>
        </div>
    </mat-tab>
  </mat-tab-group>
