<div class="container">
        <img src="assets/images/first.png" class="container_img">
        </div>
        <div class="whyus">
            <img src="" align="right" />
           <h1 class="heading">WHY CHOOSE US?</h1>
           <p class="para">
            THE CAR SPA aims to simplify the way people can book for the service through mobile at their convenience. 
            THE CAR SPA has been designed to be a user-friendly, customer centric application for the ease of its users to book for a car wash with minimal steps.
            Prioritising professional quality services at affordable prices to the flexibility of the customers makes JustWash a reliable service provider. 
            The waterless wash offered, takesJustWash a step towards environment friendly car wash solutions
            </p>
            <div class="row">
                <div class="column">
                  <img src="assets/images/bestexp.jpg" class="img" style="width:110%">
                  <figcaption class="caption">Best Experience</figcaption>
                </div>
                <div class="column">
                  <img src="assets/images/affprice.jpg" class="img" style="width:110%">
                  <figcaption class="caption">Affordable Prices</figcaption>
                </div>
                <div class="column">
                  <img src="assets/images/cleancars.jpg" class="img" style="width:110%">
                  <figcaption class="caption">Clean and Shiny Cars</figcaption>
                </div>
              </div>
        </div>
        <app-footer></app-footer>

    

  
