<mat-tab-group animationDuration="700ms" backgroundColor="primary">
    <mat-tab label="Home">
        <div class="container">
        <img src="assets/images/background.jpeg" class="container_img">
        </div>
        <div class="whyus">
            <img src="" align="right" />
           <h1 class="heading">WHY CHOOSE US?</h1>
           <p class="para">
            JustWash aims to simplify the way people can book for the service through mobile at their convenience. 
            JustWash has been designed to be a user-friendly, customer centric application for the ease of its users to book for a car wash with minimal steps.
            Prioritising professional quality services at affordable prices to the flexibility of the customers makes JustWash a reliable service provider. 
            The waterless wash offered, takesJustWash a step towards environment friendly car wash solutions
            </p>
            <div class="row">
                <div class="column">
                  <img src="assets/images/bestexp.jpg" class="img" style="width:110%">
                  <figcaption class="caption">Best Experience</figcaption>
                </div>
                <div class="column">
                  <img src="assets/images/affprice.jpg" class="img" style="width:110%">
                  <figcaption class="caption">Affordable Prices</figcaption>
                </div>
                <div class="column">
                  <img src="assets/images/cleancars.jpg" class="img" style="width:110%">
                  <figcaption class="caption">Clean and Shiny Cars</figcaption>
                </div>
              </div>
        </div>
        <app-footer></app-footer>
</mat-tab>
    <mat-tab label="About US">
<app-aboutus></app-aboutus>
    </mat-tab>
    <mat-tab label="Services">Content 3</mat-tab>
    <mat-tab label="Contact Us">contact page</mat-tab>
  </mat-tab-group>

  
