/*.img1{
    min-height: 100vh;
    background-size: cover;
    width: 100%;
    text-align: center;
}*/

.container {
    height: 70%;
    width: 100%;
}

.container_img {
    height: 100%;
    width: 60%;
    object-fit:cover;
} 

.example-button-toggle-label {
    display: inline-block;
    margin: 26px;
    
  }

  .whyus{
      background-color:rgb(230, 220, 220);
      
  }

  .heading{
      color: darkblue;
      font-size: 200%;
      font-weight: 900;
      text-align: center;
      }

.para{
    color: black;
    font-weight: 800;
    font-size: large;
      }

      .column {
        float: left;
        width: 25%;
        padding: 30px;
        
      }
      
      
      .row::after {
        content: "";
        clear: both;
        display:flex;
        
      }

      .img{
          border-radius: 50%;
          border-style: dotted;
      }

      .caption{
          font-family: cursive;
          text-align: center;
          font-weight: bolder;
          color: darkblue;
          font-size: larger;
      }