<div>
<section class="parent">
    <section class="child">
        <h1>WANT TO GET YOUR CAR WASHED
            AT DOOR STEP?
        </h1>
        <h2>CONTACT US NOW</h2>
    </section>
    <section class="child">
        <img src="assets/images/sec1.jpg">
        </section>
    </section>

    <section class="contact">
        <form>

            <!-- name -->
            <div class="field">
              <input type="text" name="name" class="input" placeholder="Your Name">
            </div>
          
            <!-- email -->
            <div class="field">
              <input type="email" name="email" class="input" placeholder="Your Email">
            </div>
          
            <!-- message -->
            <div class="field">
              <textarea class="textarea" name="message" placeholder="What's on your mind?"></textarea>
            </div>
        </form>
    </section>
</div>


<app-footer></app-footer>
