<div>
<section class="parent">
    <section class="child">
        <h1>WANT TO GET YOUR CAR WASHED
            AT DOOR STEP?
        </h1>
        <h2>CONTACT US NOW</h2>
        <h2>thecarspa@gmail.com</h2>
        <h2>9060332901</h2>
    </section>
    <section class="child">
        <img src="assets/images/sec1.jpg">
        </section>
    </section>
</div>

<div class="container">
	<h1 class="heading">THE CAR SPA</h1>
	<form action="#" name="contact_form">
		<label for="first_name">First Name</label>
		<input name="first_name" type="text" required placeholder="John"/>
		<br>
		<label for="last_name">Last Name</label>
		<input name="last_name" type="text" required placeholder="Doe"/>
		<br>
		<label for="email">Email</label>
		<input name="email" type="email" required placeholder="you@domain.com"/>
		<br>
		<label for="message">Message</label><br>
		<textarea name="message" cols="30" rows="5" placeholder="Enter your message here ..." required> </textarea>
		<div class="center">
			<input type="submit" value="Submit">
		</div>
	</form>	
</div>


<app-footer></app-footer>
