<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" href="./aboutus.component.css">
<div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>
                        JustWash is the simplest and most reliable car care mobile app to keep your car clean at your doorstep.
                        Justwash is an end to end company operated car wash service which ensures the wash experience for your car is a memorable one with utmost quality at the best possible price.
                        We offer services like car wash, interior detailing, exterior detailing, headlight restoration, AC sanitisation, Engine bay cleaning and windshield treatment.
                        JustWash has been designed to be a user-friendly, customer centric application for the ease of its users to book for a car wash with minimal steps.
                        Prioritising professional quality services at affordable prices to the flexibility of the customers makes JustWash a reliable service provider.
                        The waterless wash offered, takes JustWash a step towards environment friendly car wash solutions
                    </h3>
                    <div class="button">
                        <a href="">Read More </a>
                    </div>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="assets/images/bac.jpg">
            </div>
        </div>
    </div>
    
