footer p {
    font-family: calibri;
  }
  footer p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color:white;
    line-height: 10px;
  }
  footer p:nth-child(2) {
    font-size: 16px;
    color:white;
    width: 600px;
    text-align: center;
  }
  footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
  }
  .social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    margin: 20px 10px;
    border-radius: 50%;
  }
  .social-icons {
    display: flex;
  }
  .social-icons i,
  .social i {
    color: black;
  }
  .social-icons a:hover {
    background-color:rgb(226, 216, 216);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
  }
  .social-icons a:hover i,
  .social a:hover i {
    color: #000000;
    transition: all ease 0.5s;
  }
  
  .copyright {
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
  .social {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }
  .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    background-color: black;
    border: 1px solid white;
    box-shadow: 2px 2px 12px rgba(253, 251, 251, 0.2);
  }
  .social a:hover {
    background-color: #ffffff;
    transition: all ease 0.5s;
  }
  .social i {
    font-size: 20px;
    color: #ffffff;
  }