<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<footer>
    <!--heading-->
    <p>Get In Touch</p>
    <!--paragraph-->
    <p>I am a MEAN stack developer. This is a case study project.</p>
    <!--social-->
    <div class="social-icons">
      <a><i class="fab fa-facebook-f"></i></a>
      <a><i class="fab fa-twitter"></i></a>
      <a><i class="fab fa-linkedin"></i></a>
      <a><i class="fab fa-instagram"></i></a>
    </div>
    <!--copyright-->
    <p class="copyright">Copyright THE CAR SPA</p>
  </footer>