<div class="gif">
    <img src="assets/images/gif2.gif">
</div>
<br>
<br>
<div>
<div class="text">
    <h1>AVAILABLE SERVICES</h1>
    <div class="container">
        <table>
            <tbody>
                <tr class="row"   *ngFor="let service of services">
                    <td rowspan="3,3,2"><h2>
                        {{service.serviceType}}
                    </h2>
                    <button>
                    {{service.name}}
                    <br>
                    <tile>
                    {{service.price}}
                    <br>
                    {{service.description}}
                    <br>
                    {{service.timeRequired}}
                    <br>
                    {{service.where}}
                    <br>
                    <input class="button" type="button"  value="{{service.name}},{{service.price}}" (click)="selectedService($event)" mat-raised-button color="warn">
                    </tile>
                    </button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<app-footer></app-footer>

  