<div>
<div>
    <img src="assets/images/slide2.jpg">
<h1>SERVICES</h1>
<div>
    <h2>CAR WASH</h2>
</div>
<section class="parent">
    <section class="child">
<img src="assets/images/sec1.jpg">
<figcaption>WATER WASH</figcaption>
<div class="example-label"></div>
  <div class="example-button-row">
    <button mat-raised-button color="warn" (click)="carmodel('carmodel')">Choose this service</button>
  </div>
</section>


    <section class="child">
<img src="assets/images/sec2.jpg">
<figcaption>WATERLESS WASH</figcaption>
    </section>
    <section class="child">
        <img src="assets/images/sec3.jpg">
        <figcaption>WASH AND WAX</figcaption>
    </section>
</section>
</div>
<br>
<br>
<div>
    <h2>INTERIOR DETAILING</h2>

<section class="parent">
<section class="child">
    <img src="assets/images/sec5.jpg">
    <figcaption>INTERIOR CLASSIC</figcaption>
    <h3>Price starting from </h3>
</section>
<section class="child">
    <img src="assets/images/sec6.jpg">
    <figcaption>INTERIOR PREMIUM</figcaption>
    </section>
<section class="child">
    <img src="assets/images/sec4.jpg">
    <figcaption>INTERIOR PREMIUM PLUS</figcaption>
</section>
</section>
</div>

<br>
<br>
<div>
    <h2>EXTERIOR DETAILING</h2>
<section class="parent">
<section class="child">
    <img src="assets/images/sec7.jpg">
    <figcaption>EXTERIOR ESSENTIAL</figcaption>
    <h3>Price starting from </h3>
</section>
<section class="child">
    <img src="assets/images/sec8.jpg">
    <figcaption>PAINT PROTECTION TREATMENT</figcaption>
    </section>
</section>
</div>
</div>

<app-footer></app-footer>